<div *ngIf="!recivedData" class="container w-50 logincomponent mt-3 p-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      (input)="getemail($event)"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      (input)="getpassword($event)"
    />
  </div>
  <button class="btn btn-primary" (click)="login()">Login</button>
</div>
